<div *ngIf="item" class="card">
  <div class="header">
    <img [src]="item.imageUrl" alt="Product Image" class="product-image">
    <div class="details">
      <p class="custom-item" style="color: #8E8E93;">Custom Item</p>
      <p class="product-name" style="color:#000000;">{{item.name}}</p>
      <p class="product-description">{{item.description}}</p>
    </div>
  </div>
  <div class="footer">
    <div class="select-wrapper">
      <select [(ngModel)]="item!.quantity" #selectElem id="quantity-select">
        <option [value]="1">Qty 1</option>
        <option [value]="2">Qty 2</option>
        <option [value]="3">Qty 3</option>
        <option [value]="4">Qty 4</option>
        <option [value]="5">Qty 5</option>
      </select>
      <span class="arrow"><i class="red fas fa-angle-down"></i></span>
    </div>
    <div class="price">$ {{(item.price * item.quantity) | number: '1.2'}}</div>
    <div class="options">•••</div>
  </div>
  <p class="profit">50.4% Profit</p>
  <div class="order-links">
    <a href="#" style="color: #4E86FA;">Change Order 1</a>
    <a href="#" style="color: #8C33E7;">Change Order 2</a>
    <a href="#" style="color: #22C1B0;">Change Order 3</a>
  </div>

</div>

<div>
  <div *ngIf="item?.attachments && item?.attachments?.length" class="expandable-section">
    <button (click)="toggleAttachment()" class="expand-btn" >{{item?.attachments?.length || 'No'}} Attachments Included <i class="fa fa-angle-down"></i></button>
    <div *ngIf="showAttachments" class="attachments" id="attachments">
      <app-item-card *ngFor="let attachment of item?.attachments" [item]="attachment"></app-item-card>
    </div>
  </div>
</div> 