<div class="toolbar">
  <i class="red fas fa-angle-left"></i>
  <div class="title">{{title}}</div>
  <button class="menu-button">  <i class="red fas fa-ellipsis-v"></i></button>
</div>

<div class="radio-buttons">
  <div class="radio-group">
    <div class="radio-item">
      <input type="radio" id="option1" name="options" value="1">
      <label for="option1">Option 1</label>
    </div>
    <div class="radio-item">
      <input type="radio" id="option2" name="options" value="2">
      <label for="option2">Option 2</label>
    </div>
    <div class="radio-item">
      <input type="radio" id="option3" name="options" value="3">
      <label for="option3">Option 3</label>
    </div>
  </div>
</div>

