<ion-toolbar color="dark">
  <ion-buttons slot="start">
    <ion-back-button color="danger" text="" default-href="#"></ion-back-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button>
      <ion-icon color="danger" slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title >{{title}}</ion-title>
</ion-toolbar>

<ion-radio-group color="dark" value="start">
  <ion-item color="dark">
    <ion-radio value="1" justify="start">Option 1</ion-radio>
    <ion-radio value="2" justify="start">Option 2</ion-radio>
    <ion-radio value="3" justify="start">Option 3 </ion-radio>
  </ion-item>
</ion-radio-group>