<div class="tabs">
  <div class="tab-bar">
    <div class="tab">
      <i class="gray fa fa-archive" aria-hidden="true"></i>
    
      Catalog
    </div>
    <div class="tab">
      <i class="gray fa fa-file" aria-hidden="true"></i>
      Proposals
    </div>
    <div class="tab">
      <i class="gray fa fa-users" aria-hidden="true"></i>
      People
    </div>
    <div class="tab">
      <i class="gray fa fa-usd" aria-hidden="true"></i>
      Payments
    </div>
    <div class="tab">
      <i class="gray fa fa-ellipsis-h" aria-hidden="true"></i>
      More
    </div>
      <!-- <button class="tab-button" data-tab="home">
          <span class="material-icons">book</span>
          Catalog
      </button>
      <button class="tab-button" data-tab="radio">
          <span class="material-icons">document_text</span>
          Proposals
      </button>
      <button class="tab-button" data-tab="library">
          <span class="material-icons">people</span>
          People
      </button>
      <button class="tab-button" data-tab="search">
          <span class="material-icons">credit_card</span>
          Payments
      </button>
      <button class="tab-button" data-tab="more">
          <span class="material-icons">more_horiz</span>
          More
      </button> -->
  </div>
</div>