<ion-tabs color="dark">
  <ion-tab-bar color="dark" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="book"></ion-icon>
      Catalog
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="document-text"></ion-icon>
      Proposals
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="people"></ion-icon>
      People
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="card"></ion-icon>
      Payments
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
      More
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>