<div class="container">
  <div class="text-dark">
      <h1>Client Description</h1>
  </div>
  <button class="btn btn-clear btn-danger medium">Edit</button>
</div>

<div class="card">
  <div class="card-content">
      {{ text | truncatePipe: truncate }}
  </div>
  <button class="btn btn-clear btn-danger" (click)="toggleTruncate()">Show {{truncate ? 'More' : 'Less'}}
      <span class="icon" *ngIf="!truncate">  <i class="red fas fa-angle-up"></i></span> <!-- up arrow -->
      <span class="icon" *ngIf="truncate">  <i class="red fas fa-angle-down"></i></span> <!-- down arrow -->
  </button>
</div>

<button class="m-20 btn btn-clear btn-danger">
  <span class="icon">+</span> Add Installer Description
</button>